<div class="doctor-schedule-container">
  <h1 class="page-title">
    {{ translationService.translate("navigation.schedule") }}
  </h1>

  <div class="schedule-layout">
    <div class="day-schedule">
      <div class="day-header">
        <h2 class="day-title">
          {{ translationService.translate("doctor.schedule.day") }}
        </h2>

        <div class="current-day">
          <div class="day-number">{{ currentDayNumber }}</div>
          <div class="day-info">
            <div class="day-name">{{ currentDayName }}</div>
            <div class="date">{{ currentMonthYear() }}</div>
          </div>
        </div>
      </div>
      <span>Pozostało wolnych miejsc na wizyty: {{ availableCount() }}</span>
      <div class="appointments-list">
        @if (selectedDateAppointments().length === 0) {
          <div class="empty-state">
            <i class="pi pi-calendar-times empty-state-icon"></i>
            <h3 class="empty-state-title">
              {{
                translationService.translate("doctor.schedule.noAppointments")
              }}
            </h3>
            <p class="empty-state-description">
              {{
                translationService.translate(
                  "doctor.schedule.noAppointmentsDescription"
                )
              }}
            </p>
          </div>
        } @else {
          @for (
            appointment of selectedDateAppointments();
            track appointment.id
          ) {
            <div
              class="appointment-slot"
              [class]="getStatusClass(appointment.status)"
              (click)="changeSelectedAppointment(appointment)"
            >
              <span class="appointment-time">{{ appointment.time }}</span>
              <span class="appointment-patient">{{
                appointment.patientName
              }}</span>
            </div>
          }
        }
      </div>
    </div>

    <app-calendar
      [appointments]="calendarDays()"
      (daySelected)="onDateSelected($event)"
    ></app-calendar>
  </div>
  <div class="fixed-appointment-card">
    <div class="appointment-card-content">
      <div class="appointment-details">
        <div class="time-patient">
          {{ selectedAppointment()?.time }} -
          {{ selectedAppointment()?.patientName }}
        </div>
        <div class="patient-remarks">
          {{ translationService.translate("doctor.schedule.patientRemarks") }}
          {{ selectedAppointment()?.remarks }}
        </div>
      </div>

      <div class="appointment-actions">
        <p-button
          [label]="
            translationService.translate('doctor.schedule.rescheduleVisit')
          "
          styleClass="reschedule-btn-fixed"
          (onClick)="rescheduleVisit()"
        >
        </p-button>

        <p-button
          [label]="translationService.translate('doctor.schedule.cancelVisit')"
          styleClass="cancel-btn-fixed"
          (onClick)="cancelVisit()"
        >
        </p-button>
      </div>
    </div>
  </div>
</div>
