<div class="rating-container">
  <h3>{{ translationService.translate("patient.rating.title") }}</h3>

  <app-filter-component
    [style]="{ width: '80%', marginTop: '1rem', marginBottom: '1rem' }"
    (filtersChange)="onFiltersChange($event)"
    [showStatus]="false"
    [defaults]="{
      searchTerm: '',
      status: 'all',
      dateFrom: null,
      dateTo: null,
      sortField: 'date',
      sortOrder: 'desc',
    }"
    [autoApply]="true"
  />
  @for (rating of paginatedComments(); track rating.id) {
    <p-panel class="rating-panel">
      <div class="header-row">
        <h4>
          Rating: {{ rating.doctorName }} and {{ rating.institutionName }}
        </h4>
        <div>
          <p-button
            icon="pi pi-eye"
            class="view-button"
            [text]="true"
            (onClick)="viewRatings(rating)"
            pTooltip="View details"
          >
          </p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [text]="true"
            pTooltip="Delete"
            (onClick)="deleteComment(rating)"
          >
          </p-button>
        </div>
      </div>
      <div class="ratings">
        <div class="rating-item">
          <p>
            {{
              translationService.translate("patient.rating.institutionRating")
            }}
          </p>
          <p-rating
            [(ngModel)]="rating.institutionRating"
            [readonly]="true"
          ></p-rating>
        </div>
        <div class="rating-item">
          <p>
            {{ translationService.translate("patient.rating.doctorRating") }}
          </p>
          <p-rating
            [(ngModel)]="rating.doctorRating"
            [readonly]="true"
          ></p-rating>
        </div>
      </div>
      <span class="comment"
        ><span>{{
          translationService.translate("patient.rating.comment")
        }}</span>
        {{ rating.comment }}</span
      >
    </p-panel>
  }
  <p-paginator
    [rows]="10"
    [totalRecords]="comments()?.length ?? 0"
  ></p-paginator>
</div>
