@if (isAuthenticated()) {
  <div class="app-layout">
    <app-top-bar-component
      [config]="navigationConfig()"
    ></app-top-bar-component>
    <app-navigation />
    <main class="app-content">
      <div class="app-content__inner">
        <router-outlet />
      </div>
      <!-- @if (spinnerService.isLoading()) {
        <div class="spinner-overlay" aria-hidden="true">
          <p-progress-spinner
            [style]="{ width: '20%', height: '20%' }"
            strokeWidth="2"
          />
        </div>
      }
      @if (spinnerService.isOperatorLoading()) {
        <div class="operation-spinner-overlay" aria-hidden="true">
          <p-progress-spinner
            [style]="{ width: '20%', height: '20%' }"
            strokeWidth="3"
          />
        </div>
      } -->
    </main>
  </div>
} @else {
  <main class="guest-content">
    <router-outlet />
  </main>
}

<p-toast
  position="bottom-right"
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
/>
