<div class="account-settings-container">
  <div class="account-settings">
    <div class="account-settings__header">
      <h1 class="account-settings__title">
        {{ translate("accountSettings.title") }}
      </h1>
    </div>

    <div class="account-settings__content">
      <div class="preferences-section">
        <div class="preferences-section__header">
          <h2 class="preferences-section__title">
            {{ translate("accountSettings.preferences") }}
          </h2>
        </div>

        <div class="preferences-section__content">
          <div class="setting-item">
            <div class="setting-item__icon">
              <i class="pi pi-globe"></i>
            </div>
            <div class="setting-item__content">
              <label for="language-select" class="setting-item__label">{{
                translate("accountSettings.language")
              }}</label>
              <div class="setting-item__control">
                <p-select
                  inputId="language-select"
                  class="language-dropdown"
                  [options]="languageOptions"
                  optionLabel="name"
                  optionValue="code"
                  [ngModel]="settings().language"
                  (ngModelChange)="onLanguageChange($event)"
                  appendTo="body"
                >
                </p-select>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="setting-item__icon">
              <i class="pi pi-bell"></i>
            </div>
            <div class="setting-item__content">
              <span class="setting-item__label">{{
                translate("accountSettings.systemNotifications")
              }}</span>
              <div class="setting-item__control">
                <p-toggleSwitch
                  inputId="system-notifications"
                  [ngModel]="settings().systemNotifications"
                  (ngModelChange)="
                    onToggleChange('systemNotifications', $event)
                  "
                >
                </p-toggleSwitch>
              </div>
            </div>
          </div>

          <div class="setting-item">
            <div class="setting-item__icon">
              <i class="pi pi-user"></i>
            </div>
            <div class="setting-item__content">
              <span class="setting-item__label">{{
                translate("accountSettings.userNotifications")
              }}</span>
              <div class="setting-item__control">
                <p-toggleSwitch
                  inputId="user-notifications"
                  [ngModel]="settings().userNotifications"
                  (ngModelChange)="onToggleChange('userNotifications', $event)"
                >
                </p-toggleSwitch>
              </div>
            </div>
          </div>

          <div class="setting-item setting-item--danger">
            <div class="setting-item__content setting-item__content--full">
              <button
                type="button"
                class="btn btn--danger btn--inline"
                (click)="onDeactivateAccount()"
              >
                {{ translate("accountSettings.deactivateAccount") }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="action-buttons">
        <button
          type="button"
          class="btn btn--secondary"
          (click)="onSetDefault()"
        >
          {{ translate("accountSettings.setDefault") }}
        </button>

        <button
          type="button"
          class="btn btn--primary"
          [disabled]="isLoading()"
          (click)="onSaveChanges()"
        >
          @if (isLoading()) {
            <span class="btn__spinner"></span>
          }
          {{ translate("accountSettings.saveChanges") }}
        </button>
      </div>
    </div>
  </div>
</div>
