<div class="dashboard-content">
  <div class="top-content">
    <div class="prescriptions-content">
      <p-card class="prescriptions">
        <ng-template #header>
          <span class="header-span">{{ translationService.translate('patient.dashboard.prescriptions') }}</span>
        </ng-template>
        <div class="items-content">
          @for (refferal of refferals(); track refferal.id) {
            <div class="single-item">
              <span class="name">{{ refferal.doctorName }}</span>
              <span>{{ refferal.pin }}</span>
            </div>
          }
        </div>
        <ng-template #footer>
          <div class="footer">
            <p-button icon="pi pi-chevron-down" [text]="true" />
          </div>
        </ng-template>
      </p-card>
    </div>

    <p-card class="refferals">
      <ng-template #header>
        <span class="header-span">{{ translationService.translate('patient.dashboard.referrals') }}</span>
      </ng-template>
      <div class="items-content">
        @for (refferal of refferals(); track refferal.id) {
          <div class="single-item">
            <span class="name">{{ refferal.doctorName }}</span>
            <span>{{ refferal.pin }}</span>
          </div>
        }
      </div>

      <ng-template #footer>
        <div class="footer">
          <p-button icon="pi pi-chevron-down" [text]="true" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="visits-content">
    <span>
      <i class="pi pi-calendar"></i>
      {{ translationService.translate('patient.dashboard.upcomingVisits') }}</span
    >

    <p-card
      [header]="translationService.translate('patient.dashboard.upcomingVisits')"
      class="upcoming-visits-card"
      class="visits-card"
    >
      @for (visit of upcomingVisits(); track visit.id) {
        <div class="visit-item">
          <span class="visit-time">{{ visit.time }}</span>
          <span class="visit-doctor">{{ visit.doctor }}</span>
          <p-button
            [label]="translationService.translate('patient.dashboard.cancelVisit')"
            severity="danger"
            [outlined]="true"
            size="small"
          />
        </div>
      }
    </p-card>
  </div>
</div>
