@import "../page-mixins";
@import "../shared/form-mixins";

.add-doctor-page {
  @include page-container;
}

.page-header {
  @include page-header;
}

.breadcrumb {
  @include breadcrumb;
}

.doctor-form {
  @include form-card;
}

.form-container {
  @include form-container;
}

.form-actions {
  @include form-actions;
}
.form-field {
  @include form-field;
  @include input-focus;
  @include input-invalid;
}
.search-container {
  display: flex;
  gap: 20px;
  p-button {
    align-self: flex-end;
  }
}

@include accessibility-features;
