<div class="add-doctor-page">
  @if (isSubmitting()) {
    <div class="floating-center-spinner">
      <p-progress-spinner
        [style]="{ width: '20%', height: '20%' }"
      ></p-progress-spinner>
    </div>
  }
  <div class="page-header">
    <div class="breadcrumb">
      <a routerLink="/admin/doctors" class="breadcrumb-link">
        {{ translationService.translate("admin.addDoctor.breadcrumb.doctors") }}
      </a>
      <i class="pi pi-angle-right breadcrumb-separator"></i>
      <span class="breadcrumb-current">
        {{ translationService.translate("admin.addDoctor.breadcrumb.addNew") }}
      </span>
    </div>
  </div>

  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()" class="doctor-form">
    <p-card>
      <div class="form-container">
        <h4>Wyszukaj istniejacego użytkownika</h4>
        <div class="search-container">
          <div class="form-field">
            <label for="name" class="field-label">Podaj adres pesel </label>

            <input type="text" pInputText [formControl]="govId" />
          </div>
          <p-button (onClick)="loadUserData()" label="Wyszukaj"></p-button>
        </div>

        <p-divider />
        <app-doctor-personal-info-form
          [formGroup]="doctorForm"
          [translationKey]="'admin.addDoctor'"
          [isFieldInvalid]="isFieldInvalid"
          [getFieldError]="getFieldErrorFn"
        />

        <p-divider />

        <app-doctor-professional-info-form
          [formGroup]="doctorForm"
          [translationKey]="'admin.addDoctor'"
          [specialisations]="specialisations()"
          [roleOptions]="roleOptions"
          [showRoleSelect]="true"
          [isFieldInvalid]="isFieldInvalid"
          [getFieldError]="getFieldErrorFn"
          (roleChanged)="roleChanged($event)"
        />

        <p-divider />

        <app-doctor-address-form
          [formGroup]="residentialAddressForm"
          [translationKey]="'admin.addDoctor'"
          [formGroupName]="'residentialAddress'"
          [isFieldInvalid]="isFieldInvalid"
          [getFieldError]="getFieldErrorFn"
          [cities]="cities()"
          [provinces]="provinces()"
        />

        <div class="form-actions">
          <p-button
            [label]="translationService.translate('admin.addDoctor.confirm')"
            [loading]="isSubmitting()"
            [disabled]="isSubmitting()"
            type="submit"
          />
        </div>
      </div>
    </p-card>
  </form>
</div>
