@if(isVisitLoading()){
<div class="spinner-container">
    <p-progress-spinner [style]="{ width: '20%', height: '20%' }" />
  </div>
}
@else{
<h2>{{ translationService.translate("patient.visits.title") }}</h2>
<app-filter-component
  [style]="{ width: '80%', marginTop: '1rem' }"
  (filtersChange)="onFiltersChange($event)"
  [defaults]="{
    searchTerm: '',
    status: 'all',
    dateFrom: null,
    dateTo: null,
    sortField: 'date',
    sortOrder: 'desc',
  }"
></app-filter-component>
<div class="visits-list">
  @if(isLoading()){
    <div class="floating-center-spinner">
      <p-progress-spinner
        [style]="{ width: '20%', height: '20%' }"
      ></p-progress-spinner>
    </div>
  }
  @for (visit of paginatedVisits(); track visit.id) {
    <p-card class="visit-card">
      <div class="visit-card-content">
        <div class="visit-main-info">
          <div class="visit-doctor">
            {{ translationService.translate("patient.visits.doctor") }}
            <b>{{ visit.doctorName }}</b>
          </div>
          <div class="visit-institution">
            {{ translationService.translate("patient.visits.institution") }}
            <b>{{ visit.institution }}</b>
          </div>
          <div class="visit-date">
            {{ translationService.translate("patient.visits.date") }}
            <b>{{ visit.date | date }}</b>
          </div>
          <div class="visit-status">
            {{ translationService.translate("patient.visits.status") }}
            <span class="status-chip" [ngClass]="visit.status">{{
              getStatusTranslation(visit.status)
            }}</span>
          </div>
        </div>
        <div class="visit-actions">
          <p-button
            (click)="openVisitDialog(visit.id)"
            [disabled]="checkIfDisableDetailsButton(visit.status)"
            icon="pi pi-file-export details-icon"
            [label]="translationService.translate('patient.visits.details')"
          ></p-button>
          <p-button
            icon="pi pi-ellipsis-v"
            size="large"
            [text]="true"
            (click)="op.toggle($event)"
            [disabled]="checkIfDisablePopover(visit.status)"
            #menuButton
            class="options-button"
          ></p-button>
          <p-popover #op>
            <div class="menu-options">
              <button
                type="button"
                class="menu-item"
                (click)="openRescheduleDialog(visit.id); op.hide()"
              >
                <span>{{
                  translationService.translate("patient.visits.reschedule")
                }}</span>
              </button>
              <button
                type="button"
                class="menu-item"
                (click)="cancelVisit(visit.id); op.hide()"
              >
                <span>{{
                  translationService.translate("patient.visits.cancel")
                }}</span>
              </button>
            </div>
          </p-popover>
        </div>
      </div>
    </p-card>
  }
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first()"
    [rows]="rows()"
    [totalRecords]="totalRecords()"
    [rowsPerPageOptions]="[10, 20, 30]"
    style="margin-bottom: 10px"
  />
</div>
}
