<h2>{{ translationService.translate("patient.visits.title") }}</h2>
<div class="visits-list">
  @for (visit of visits(); track visit.id) {
    <p-card class="visit-card">
      <div class="visit-card-content">
        <div class="visit-main-info">
          <div class="visit-doctor">
            {{ translationService.translate("patient.visits.doctor") }}
            <b>{{ visit.doctorName }}</b>
          </div>
          <div class="visit-institution">
            {{ translationService.translate("patient.visits.institution") }}
            <b>{{ visit.institution }}</b>
          </div>
          <div class="visit-date">
            {{ translationService.translate("patient.visits.date") }}
            <b>{{ visit.date | date }}</b>
          </div>
          <div class="visit-status">
            {{ translationService.translate("patient.visits.status") }}
            <span class="status-chip" [ngClass]="visit.status">{{
              getStatusTranslation(visit.status)
            }}</span>
          </div>
        </div>
        <div class="visit-actions">
          <i
            (click)="openVisitDialog(visit.id)"
            class="pi pi-file-export details-icon"
            [title]="translationService.translate('patient.visits.details')"
          ></i>
          <p-button
            icon="pi pi-ellipsis-v"
            size="large"
            [text]="true"
            (click)="op.toggle($event)"
            #menuButton
            class="options-button"
          ></p-button>
          <p-popover #op>
            <div class="menu-options">
              <button
                type="button"
                class="menu-item"
                (click)="openRescheduleDialog(visit.id); op.hide()"
              >
                <span>{{
                  translationService.translate("patient.visits.reschedule")
                }}</span>
              </button>
              <button
                type="button"
                class="menu-item"
                (click)="cancelVisit(); op.hide()"
              >
                <span>{{
                  translationService.translate("patient.visits.cancel")
                }}</span>
              </button>
            </div>
          </p-popover>
        </div>
      </div>
    </p-card>
  }
</div>
