
<h2>Visits</h2>
<div class="visits-list">
  @for (visit of visits; track visit.id) {
    <p-card class="visit-card">
      <div class="visit-card-content">
        <div class="visit-main-info">
          <div class="visit-doctor">Doctor: <b>{{ visit.doctorName }}</b></div>
          <div class="visit-institution">Institution: <b>{{ visit.institution }}</b></div>
          <div class="visit-date">Date: <b>{{ visit.date | date:'dd.MM.yyyy HH:mm' }}</b></div>
          <div class="visit-status">Status: <span class="status-chip" [ngClass]="visit.status">{{ visit.status }}</span></div>
        </div>
        <div class="visit-actions">
          <i (click)="openVisitDialog(visit.id)" class="pi pi-file-export details-icon" title="Details"></i>
          <p-button
            icon="pi pi-ellipsis-v"
            size="large"
            [text]="true"
            (click)="op.toggle($event)"
            #menuButton
            class="options-button"
          ></p-button>
          <p-popover #op>
            <div class="menu-options">
              <button
                type="button"
                class="menu-item"
                (click)="openRescheduleDialog(visit.id); op.hide()"
              >
                <span>Reschedule</span>
              </button>
              <button
                type="button"
                class="menu-item"
                (click)="cancelVisit(); op.hide()"
              >
                <span>Cancel</span>
              </button>
            </div>
          </p-popover>
        </div>
      </div>
    </p-card>
  }
</div>


