<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".MediPathApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediPath"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MediPath">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.shared.auth.ui.RegisterActivity"
            android:exported="false" />
        <activity android:name=".modules.shared.auth.ui.LoginActivity"
            android:exported="false" />
        <activity android:name=".modules.shared.auth.ui.ResetPasswordActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.home.ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".modules.patient.codes.ui.CodesActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.search.ui.SearchResultsActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.booking.ui.AppointmentBookingActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.notifications.ui.NotificationsActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.visits.ui.VisitsActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.visits.ui.VisitDetailsActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.visits.ui.ReviewVisitActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.comments.ui.CommentsActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.medical_history.ui.MedicalHistoryActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.prescriptions.ui.PrescriptionsActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.referrals.ui.ReferralsActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.reminders.ui.RemindersActivity"
            android:exported="false" />
        <activity android:name=".modules.patient.reminders.ui.AddReminderActivity"
            android:exported="false" />
        <activity android:name=".modules.shared.profile.ui.EditProfileActivity"
            android:exported="false" />
        <activity android:name=".modules.shared.settings.ui.SettingsActivity"
            android:exported="false" />
    </application>

</manifest>