.change-password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .input {
    width: 100%;
  }
}
.form-label {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 4px;
}
p-message {
  align-self: flex-start;
}
