<div class="change-password-container">
  <h3>Change password</h3>
  @if (isLoading()) {
    <div class="floating-center-spinner">
      <p-progress-spinner
        [style]="{ width: '30%', height: '30%' }"
      ></p-progress-spinner>
    </div>
  }

  <form [formGroup]="changePasswordForm" class="change-password-form">
    <label class="form-label" for="name">Old password </label>
    <p-password
      [feedback]="false"
      fluid
      appendTo="body"
      class="input"
      formControlName="currentPassword"
    >
    </p-password>
    @if (
      changePasswordForm.get("currentPassword")?.invalid &&
      changePasswordForm.get("currentPassword")?.touched
    ) {
      <p-message severity="error" variant="simple" size="small">
        Current password is required (8-32 characters)
      </p-message>
    }

    <label class="form-label" for="name">New password </label>
    <p-password
      [feedback]="false"
      fluid
      appendTo="body"
      class="input"
      formControlName="password"
    >
    </p-password>
    @if (
      changePasswordForm.get("password")?.invalid &&
      changePasswordForm.get("password")?.touched
    ) {
      <p-message severity="error" variant="simple" size="small">
        New password must have minimum 8 characters and maximum 32.
      </p-message>
    }

    <label class="form-label" for="name">Repeat new password </label>
    <p-password
      feedback="false"
      [style]="{ width: '100%' }"
      appendTo="body"
      fluid
      formControlName="repeatPassword"
    >
    </p-password>
    @if (
      changePasswordForm.get("repeatPassword")?.hasError("passwordMismatch") &&
      changePasswordForm.get("repeatPassword")?.touched
    ) {
      <p-message severity="error" variant="simple" size="small">
        Passwords do not match
      </p-message>
    }
    @if (
      changePasswordForm.get("repeatPassword")?.hasError("required") &&
      changePasswordForm.get("repeatPassword")?.touched
    ) {
      <p-message severity="error" variant="simple" size="small">
        Please repeat your password
      </p-message>
    }
    <div class="button-div">
      <p-button
        type="button"
        (onClick)="onAccept()"
        label="Change password"
      ></p-button>
      <p-button
        (onClick)="onClose()"
        type="button"
        severity="danger"
        label="Cancel"
      ></p-button>
    </div>
  </form>
</div>
