<div class="card">
  <div class="flex-content">
    <app-image-for-auth
      [imageSrc]="'assets/imageDoctor.png'"
      [title]="translationService.translate('welcomeBack')"
      [subtitle]="translationService.translate('takeCareOfYourHealth')"
      [homeLabel]="translationService.translate('home')"
      [aboutLabel]="translationService.translate('aboutUs')"
    />

    <div class="form-content">
      @if (isLoading()) {
        <div class="spinner">
          <p-progress-spinner ariaLabel="loading" />
        </div>
      } @else {
        <h2>{{ translationService.translate("passwordReset.title") }}</h2>
        <p class="subtitle">
          @if (!token()) {
            <span>{{
              translationService.translate("passwordReset.subtitle")
            }}</span>
          } @else {
            <span>{{
              translationService.translate("passwordReset.subtitleWithToken")
            }}</span>
          }
        </p>

        <form
          class="form-content--without-heder"
          [formGroup]="token() ? forgotPasswordForm : emailSentForm"
          (ngSubmit)="token() ? passwordReset() : emailSubmit()"
        >
          @if (!token()) {
            <app-input-for-auth
              type="email"
              [label]="translationService.translate('register.form.email')"
              [control]="emailSentForm.controls.email"
            />
          } @else {
            <app-input-for-auth
              type="password"
              [label]="translationService.translate('register.form.password')"
              [control]="forgotPasswordForm.controls.password"
            />
            <app-input-for-auth
              type="password"
              [label]="
                translationService.translate('register.form.confirmPassword')
              "
              [control]="forgotPasswordForm.controls.confirmPassword"
            />
          }
          <div class="button-content">
            <p-button
              size="large"
              class="button"
              type="submit"
              [label]="
                translationService.translate('passwordReset.resetButton')
              "
            />
            <span class="login-link">
              <span>{{
                translationService.translate("passwordReset.noAccount")
              }}</span>
              <a routerLink="/auth/register">{{
                translationService.translate("passwordReset.signUp")
              }}</a>
            </span>
          </div>
        </form>
      }
    </div>
  </div>
</div>

<app-modal-dialog
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  type="success"
  [title]="translationService.translate('passwordReset.dialog.successTitle')"
  [messages]="[translationService.translate('passwordReset.dialog.sent')]"
  [buttonLabel]="translationService.translate('passwordReset.dialog.signIn')"
  buttonIcon="pi pi-arrow-right"
  buttonIconPos="right"
  (buttonClick)="redirectToLoginPage()"
/>
<app-modal-dialog
  type="error"
  [visible]="isTokenExpired()"
  [title]="translationService.translate('passwordReset.tokenExpired.title')"
  [buttonLabel]="
    translationService.translate('passwordReset.tokenExpired.requestNew')
  "
  [errorMessage]="
    translationService.translate('passwordReset.tokenExpired.message')
  "
  (buttonClick)="redirectToForgotPassword()"
  (visibleChange)="isTokenExpired.set($event)"
>
</app-modal-dialog>
