:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  ::ng-deep p-paginator {
    margin-bottom: 20x;
  }

app-doctor-profile {
  flex: 1;
  width: 70%;
}
}
