.logo-section {
  padding: 2rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.button-group {
  --p-button-lg-padding-x: 2.2rem;
  --p-button-lg-padding-y: 1rem;
  display: flex;
  gap: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 70%;
  align-self: flex-start;
}

.header span {
  width: 40%;
  margin-top: 2rem;
}
:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-section {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  width: 100%;

  .search-container {
    width: 80%;
    max-width: 800px;

    p-inputGroup {
      width: 100%;
    }
  }
}

p-card {
  margin-top: 3rem;
  align-self: center;
}
.content {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.pyramid-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.2rem;
  text-align: center;

  .text-line {
    line-height: 1.4;

    &.line-1 {
      width: 100%;
    }
    &.line-2 {
      width: 85%;
    }
    &.line-3 {
      width: 70%;
    }
    &.line-4 {
      width: 55%;
    }
    &.line-5 {
      width: 40%;
    }
  }
}
