<div class="comment-content">
  <div class="header-content">
    <div class="icon-with-name">
      <div class="avatar">{{ (comment().userName || " ")[0] | uppercase }}</div>
      <span>{{ comment().userName }}</span>
    </div>
    <div class="date-with-review-grade">
      <div class="date">
        {{ translationService.translate("patient.comments.dateOfVisit") }}
        <span>{{ comment().dateOfVisit | date }}</span>
      </div>
      <div class="stars">
        @for (star of [1, 2, 3, 4, 5]; track star) {
          <span class="star" [class.filled]="star <= comment().numberOfStars"
            >★</span
          >
        }
      </div>
    </div>
  </div>

  <p class="institution">
    <span>{{
      translationService.translate("patient.comments.institution")
    }}</span>
    {{ comment().visitedInstitution }}
  </p>

  <div class="content">{{ comment().content }}</div>
</div>
