.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 25px 40px -15px black ;
    min-width: 400px;
    max-width: 1025px;
    max-height: 890px;
    border-radius: 20px;
}

.form-content{
     display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    text-align: center;
}

.parent {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 20px;
margin-left: 50px;
margin-right: 50px;
}

.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 1 / 8 / 2 / 13; }
.div3 { grid-area: 2 / 9 / 3 / 13; }
.div4 { grid-area: 3 / 1 / 4 / 5; } 
.div5 { grid-area: 3 / 6 / 4 / 9; } 
.div6 { grid-area: 3 / 10 / 4 / 13; }
.div7 { grid-area: 2 / 1 / 3 / 7; }
.div8 { grid-area: 4 / 1 / 5 / 4; }
.div9 { grid-area: 4 / 6 / 5 / 13; }
.div10 { grid-area: 5 / 1 / 6 / 6; }
.div11 { grid-area: 5 / 8 / 6 / 13; }
.div12 { grid-area: 6 / 1 / 7 / 13; } 
.div13 { grid-area: 7 / 1 / 8 / 13; }
.div14 { grid-area: 8 / 5 / 9 / 9;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
} 
.button{
     --p-button-lg-padding-x: 8rem;
     --p-button-border-radius: 2rem;

}

@media screen and (min-width: 768px) {
    .flex-content{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
    
}