<div>
  <app-hospital-card
    [showInfoButton]="false"
    [hospital]="getDataForInstitutionCard()"
  />
  <div class="doctor-block">
    <span class="comment-section">{{
      translationService.translate("patient.institution.doctorsInInstitution")
    }}</span>
    <div class="doctors-card">
      @for (doctor of institution()?.employees; track doctor.userId) {
        <p-card (click)="onDoctorCardClick(doctor.userId)">
          <div class="doctor-info-card">
            <img
              [src]="doctor.pfpImage"
              [alt]="'Dr. ' + doctor.name + ' ' + doctor.surname"
            />
            <div class="doctor-personal-information">
              <p class="doctor-name">
                Dr. {{ doctor.name }} {{ doctor.surname }}
              </p>

            </div>
          </div>
        </p-card>
      }
    </div>
    @if (
      institution()?.employees &&
      institution()?.employees &&
      (institution()?.employees?.length ?? 0) > 5
    ) {
      <p-paginator
        [rows]="1"
        [totalRecords]="5"
        [rowsPerPageOptions]="[1, 2, 3]"
        (onPageChange)="onDoctorPageChange($event)"
      ></p-paginator>
    }
  </div>
</div>
<div class="comment-block">
  <span class="comment-section">{{
    translationService.translate("patient.institution.comments")
  }}</span>
  <div class="comment-content">
    @for (comment of comments(); track comment.id) {
      <div class="comment-item">
        <app-patient-comment-component [comment]="comment" />
      </div>
    }
  </div>
  @if (comments().length > 5) {
    <p-paginator
      [rows]="5"
      [totalRecords]="comments().length"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  }
</div>
