<p-breadcrumb [model]="breadcumbMenuItems()" [home]="homeItem()" />

<div class="doctor-info">
  <div class="main-card">
    <p-card>
      <div class="doctor-info-card">
        <img
          [src]="exampleDoctor().photoUrl"
          [alt]="'Dr. ' + exampleDoctor().name + ' ' + exampleDoctor().surname"
        />
        <div class="doctor-personal-information">
          <p class="doctor-name">
            Dr. {{ exampleDoctor().name }} {{ exampleDoctor().surname }}
          </p>
          <div class="doctor-rating">
            <div class="stars">
              @for (star of [1, 2, 3, 4, 5]; track star) {
                <span
                  class="star"
                  [class.filled]="star <= exampleDoctor().rating.stars"
                  >★</span
                >
              }
            </div>
            <span class="reviews-count">
              ({{ exampleDoctor().rating.opinions }} opinions)
            </span>
          </div>
          <span class="pwz-info">PWZ: {{ exampleDoctor().pwz }}</span>
        </div>
      </div>
    </p-card>
  </div>

  <div class="institution-card">
    <p-card>
      <div class="card-title">Institutions</div>
      <ul>
        @for (institution of exampleDoctor().institutions; track institution) {
          <li>{{ institution }}</li>
        }
      </ul>
    </p-card>
  </div>

  <div class="spec-card">
    <p-card>
      <div class="card-title">Specialisation</div>
      <ul>
        @for (spec of exampleDoctor().specialisation; track spec) {
          <li>{{ spec }}</li>
        }
      </ul>
    </p-card>
  </div>
</div>
<div class="comment-block">
  <span>Comments</span>
  @for (comment of exampleDoctor().comments; track comment.id) {
    <app-patient-comment-component [comment]="comment" />
  }
</div>
